# Supabase Configuration
VITE_SUPABASE_URL=https://uiqonpfjtapkqiprszwd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVpcW9ucGZqdGFwa3FpcHJzendkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5ODQ2MDUsImV4cCI6MjA2OTU2MDYwNX0.BVhBbPKRd8wbcZw2SVH595uqNJIIp2Ly5Y-VsxtVRwc